{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="event-detail" {% if event.background_image %} class="event-bg" style="background-image: url('{{ event.background_image.url }}'); color: white;"{% endif %}>
  <div class="event-info">
    <h1>{{ event.title }}</h1>
    <p class="event-meta">
      📍 {{ event.location }} <br>
      📅{{ event.start_time|date:"M d, Y H:i" }} – {{ event.end_time|date:"M d, Y H:i" }}
    </p>

    <p class="event-description">{{ event.description }}</p>

    <p class="event-price">
      <strong>Price:</strong>
      {% if event.price > 0 %}
      ₦{{ event.price }}
      {% else %}
      Free
      {% endif %}
    </p>

    {% if event.capacity > 0 %}
    <a href="{% url 'book_ticket' event.id %}" class="btn-primary btn-large">Book Now</a>
    {% else %}
    <p class="sold-out">❌ This event is sold out.</p>
    {% endif %}

    <br><br>
    <a href="{% url 'event_list' %}" class="btn">← Back to Events</a>
  </div>
</div>
{% endblock %}